<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>Tunisia,Nabeul,Kelibia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>+216 23050621</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Contact us</h4>
                                <span>opierre@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="copyright-area">
            <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                <div class="copyright-text">
                    <p>Copyright &copy; 2025, All Right Reserved <a href="https://github.com/Zaineb-B29/Projet-PHP.git">Eya&Zaineb</a></p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </footer>